[Unit]
Description=BMC State Manager


[Service]
ExecStart=/usr/bin/bmc-state-manager
Restart=always
Type=dbus
BusName=xyz.openbmc_project.State.BMC

[Install]
WantedBy=multi-user.target
