[Unit]
Description=VR Power Control for the Host %i
ConditionPathExists=/usr/share/x86-power-control/power-config-host%i.json

# Provides functionality of old PSM services (dependencies of default.target)
Provides=xyz.openbmc_project.State.Chassis@%i.service
Provides=xyz.openbmc_project.State.Host@%i.service

# Old PSM services
Conflicts=xyz.openbmc_project.State.Chassis@%i.service
Conflicts=xyz.openbmc_project.State.Host@%i.service

# Ensure ObjectMapper is running before we start so it can receive InterfacesAdded signals
After=mapper-wait@-xyz-openbmc_project-object_mapper.service
Wants=mapper-wait@-xyz-openbmc_project-object_mapper.service

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/power-control %i
Type=dbus
BusName=xyz.openbmc_project.State.Host

[Install]
WantedBy=sysinit.target
